@mixin text-title {
    font: {
      family: 'Cabin', sans-serif;
      size: 45px;
      weight: 400;
    }
    color: #fc7a12;
    text-align: center;
    opacity: 1;
  }

@mixin text-page ($size) {
  font: {
    family: 'Cabin', sans-serif;
    // family: 'Playfair Display', serif;
    size: $size;    
    weight: 400;
  }
  color: #fc7a12;  
}

@mixin about-block {
  border-radius: 5px;  
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 15px 5px rgba(181, 55, 55, 0.72);
}



