@mixin text-title {
    font: {
      family: 'Playfair Display', serif;
      size: 45px;
      weight: 400;
    }
    color: #fc7a12;
  }

@mixin text-page ($size) {
  font: {
    family: 'Playfair Display', serif;
    size: $size;    
    weight: 400;
  }
  color: #ffffff;
}
