.aboutme
  .container
    .row
      .col-xl-12
        .aboutme__block1
      .col-xl-5
        .aboutme__block2
      .col-xl-7
        .aboutme__block34.d-xl-flex.flex-xl-column
          .aboutme__block3
          .aboutme__block4

