.aboutme
  .container
    .row
      .col-12        
        .aboutme__block1  
          p.tab_en About me
          p.tab_ru О себе
          #up.aboutme__up
            img(src="./img/aboutme/up.png", alt="up")          
      .col-lg-5.col-12
        .aboutme__block2.wow.bounceInLeft(data-wow-delay='0.5s')
          p.tab_en &nbsp;&nbsp;Hello, my name is Sergey. I am a beginner front-ender. My purpose is to become a JS developer. Namely, to work with the React.js & Vue.js frameworks. It is this direction that I like the most in a large selection of possible front-end directions. A huge desire to learn and develop in this sphere, where mental work is appreciated. The desire to find work with a smart, friendly and responsive team. Thank you for your attention to my resume.
          p.tab_ru &nbsp;&nbsp;Здравствуйте, меня зовут Сергей. Я начинающий фронт-эндер. Моя цель стать JS разработчиком. Именно это направление мне больше всего по душе в большом выборе возможных направлений фронт-энда. Огромное желание учиться и развиваться в этой сфере, где умственная работа оценивается по достоинству. Желание найти работу с умным, дружным и отзывчивым коллективом. Спасибо, что уделили внимание моему резюме.
      .col-lg-7.col-12
        .aboutme__block34.d-xl-flex.flex-xl-column
          .aboutme__block3.wow.bounceInRight(data-wow-delay='0.5s')
            h3.tab_en Experience
            h3.tab_ru Опыт работы
            ul.tab_en
              li 2009 - "Ortos", Specialist in repair and maintenance of office equipment
              li 2010-2017 - "Zorya–Mashproekt" Company, Head of Electrotechnical Laboratory
              li 2017 - today - "Zorya–Mashproekt" Company, Head of Electricity Supply Department
              li 2012 - today - "Zorya–Mashproekt" Company, teacher of continuing education courses for electricians
            ul.tab_ru
              li 2009 - ЧП "Ортос", Специалист по ремонту и обслуживанию офисной техники
              li 2010-2017 - ГП НВКГ "Зоря"-"Машпроект", Начальник электротехнической лаборатории
              li 2017 - н.в. - ГП НВКГ "Зоря"-"Машпроект", Начальник участка электроснабжения
              li 2012 - н.в. - ГП НВКГ "Зоря"-"Машпроект", преподаватель курсов повышении квалификации электромонтеров
          .aboutme__block4.block4.d-xl-flex.flex-xl-column.wow.bounceInRight(data-wow-delay='0.5s')
            .block4__title
              h3.tab_en Education
              h3.tab_ru Образование
            .block4__education.d-sm-flex.flex-sm-row.justify-content-sm-around.wow.flipInX(data-wow-delay='0.5s')
              .block4__edu
                object(data="./img/aboutme/logo_1.svg", type="image/svg+xml")
                p 2004-2010
                p.tab_en Electronic systems
                p.tab_ru Электронные системы
              .block4__edu
                object(data="./img/aboutme/logo_2.svg", type="image/svg+xml")
                p 2010-2012
                p.tab_en Computer graphics and web-design
                p.tab_ru Вэб-дизайн
              .block4__edu
                object(data="./img/aboutme/logo_3.svg", type="image/svg+xml")
                p 2019-2020
                p.tab_en Front-end development
                p.tab_ru Front-end разработка
           

