.contact
  .container
    .row
      .col-xl-12
        .contact__block
          .row
            .col-12
              h2.contact__title.tab_en Let's work
              h2.contact__title.tab_ru Контакты
            .col-xl-4.offset-xl-1.col-md-5.offset-md-0.col-12
              .contact__contacts.d-flex.flex-column
                p.tab_en Contacts
                p.tab_ru Контакты
                p
                  span.tab_en Tel:&nbsp;
                  span.tab_ru Тел:&nbsp;
                  a(title='Phone me', href='tel:+120345678910') +38(099)558-21-86                
                p 
                  span E-mail:&nbsp; 
                  a(title='E-mail', href='mailto:randick56@gmail.com', target='_blank') randick56@gmail.com
                p 
                  span.tab_en Location:&nbsp;
                  span.tab_ru Нахожусь:&nbsp;  
                  a.tab_en(title='Location', href='https://goo.gl/maps/HVBPhDZDdYPn3hQu6', target='_blank') Ukraine, Mykolaiv
                  a.tab_ru(title='Location', href='https://goo.gl/maps/HVBPhDZDdYPn3hQu6', target='_blank') Украина, Николаев
                p.tab_en Find me at social:
                p.tab_ru Меня можно найти здесь:
              .contact__social.d-flex.flex-row.justify-content-xl-start.justify-content-between.justify-content-sm-around
                a.contact__circle(href="https://www.facebook.com/profile.php?id=100022107559569&ref=bookmarks", target='_blank')
                  i.fab.fa-facebook-f.contact__social-icon
                a.contact__circle(href="https://vk.com/id128143854", target='_blank')
                  i.fab.fa-vk.contact__social-icon
                a.contact__circle(href="https://t.me/randick56", target='_blank')                
                  i.fab.fa-telegram-plane.contact__social-icon
                a.contact__circle(href="https://www.linkedin.com/in/%D1%81%D0%B5%D1%80%D0%B3%D0%B5%D0%B9-%D1%82%D0%BE%D0%BD%D1%87%D0%B5%D0%BD%D0%BA%D0%BE-a67402199/", target='_blank')
                  i.fab.fa-linkedin-in.contact__social-icon
            .col-xl-5.offset-xl-1.col-md-7.offset-md-0.col-12
              form.contact__form(action="" id='form').d-flex.flex-column.align-items-start
                input.contact__input.tab_en(type="text", name="text" id="text" placeholder='Your name' required)
                input.contact__input.tab_ru(type="text", name="text" id="text" placeholder='Ваше имя' required)
                input.contact__input(type="email", name="email", id="email" placeholder='Email' required)                
                input.contact__input.tab_en(type="textarea", name="message", id="message" placeholder='Your message' required)
                input.contact__input.tab_ru(type="textarea", name="message", id="message" placeholder='Ваше сообщение' required)
                input.contact__btn.tab_en(type="submit", value="send")
                input.contact__btn.tab_ru(type="submit", value="отправить")
            .col-12.d-flex.flex-row.justify-content-center
              small.contact__license.tab_en All Rights &copy; 2020 By Tonchenko Sergey
              small.contact__license.tab_ru Все права &copy; 2020 Тонченко Сергей
                  
              