.header
  .container
    .row
      .col-xl-12.d-xl-flex.flex-xl-row.justify-content-xl-between
        h1.header__title Welcome, to the resume page Tonchenko Sergey
        .header__lang.d-xl-inline-flex
          p рус
          p eng
      .col-xl-4.offset-xl-8
        .header__menu.d-xl-flex.flex-xl-column
         div About me
         div Skills
         div Potfolio
         div Let's work?
         
        
          