.portfolio
  .container
    .row
      .col-12
        h3.tab_en.portfolio__title Portfolio
        h3.tab_ru.portfolio__title Мои работы
      .col-6.offset-3.pl-sm-3.pr-sm-3.pl-0.pr-0
        .owl-carousel.owl-theme.owl-loaded#portfolio__slider
          .owl-stage-outer
            .owl-stage
              .owl-item
                div.d-flex.flex-column.portfolio__container
                  a.portfolio__link(href="https://sergeytonchenko.github.io/FE8_Tonchenko_Cahee/", target='_blank')
                    img(src="./img/portfolio/slide1.png", alt="slide_img")
              .owl-item
                div.d-flex.flex-column.portfolio__container
                  a.portfolio__link(href="https://sergeytonchenko.github.io/FE8_Tonchenko_Bhromaon/", target='_blank')
                    img(src="./img/portfolio/slide2.png", alt="slide_img")
              .owl-item
                div.d-flex.flex-column.portfolio__container
                  a.portfolio__link(href="https://sergeytonchenko.github.io/FE8_Tonchenko_JS-works/", target='_blank')
                    img(src="./img/portfolio/slide3.png", alt="slide_img")
              .owl-item
                div.d-flex.flex-column.portfolio__container
                  a.portfolio__link(href="https://sergeytonchenko.github.io/FE8_Tonchenko_HW13/", target='_blank')
                    img(src="./img/portfolio/slide4.png", alt="slide_img")
              .owl-item
                div.d-flex.flex-column.portfolio__container
                  a.portfolio__link(href="https://sergeytonchenko.github.io/Monticello/", target='_blank')
                    img(src="./img/portfolio/slide5.png", alt="slide_img")