.portfolio
  .container
    .row
      .col-12
        h3.portfolio__title Portfolio
      .col-12.pl-sm-3.pr-sm-3.pl-0.pr-0
        .owl-carousel.owl-theme.owl-loaded#portfolio__slider
          .owl-stage-outer
            .owl-stage
              .owl-item