.skills
  .container
    .row
      .col-xl-12
        h2.skills__title My skills
        .skills__list
          li
            h3 HTML5
            span.skills__bar
              span.skills__html
          li
            h3 CSS3
            span.skills__bar
              span.skills__css
          li
            h3 JavaScript
            span.skills__bar
              span.skills__js
          li
            h3 Pug Sass
            span.skills__bar
              span.skills__prep
        .skills__block