.skills
  .container
    .row
      .col-xl-12
        h2.skills__title.tab_en My skills
        h2.skills__title.tab_ru Навыки
        .skills__list.wow.zoomIn(data-wow-delay='0.3s')
          li
            h3 HTML5
            span.skills__bar
              span.skills__html
          li
            h3 CSS3
            span.skills__bar
              span.skills__css
          li
            h3 JavaScript
            span.skills__bar
              span.skills__js
          li
            h3 Pug Sass
            span.skills__bar
              span.skills__prep
        .skills__block
          .row
            .col-4
              ul.skills__lists
                li HTML5 tags
                li EMET
                li.tab_en BEM architecture
                li.tab_ru БЭМ-архитектура
                li.tab_en Adaptive valid layout
                li.tab_ru Адаптивная верстка
                li.tab_en Cross-browser compatibility
                li.tab_ru Кроссбраузерная верстка
            .col-4
              ul.skills__lists
                li Gulp, Webpack
                li CSS Grid Layout
                li Bootstrap 4
                li Git
                li.tab_en CSS Animation
                li.tab_ru CSS анимации
            .col-4
              ul.skills__lists
                li JavaScript6 Essensial
                li JQuery library
                li AJAX
                li React.js framework
                li Vue.js framework