.skills
  .container
    .row
      .col-xl-12
        h2.skills__title My skills
        .skills__list.wow.zoomIn(data-wow-delay='0.3s')
          li
            h3 HTML5
            span.skills__bar
              span.skills__html
          li
            h3 CSS3
            span.skills__bar
              span.skills__css
          li
            h3 JavaScript
            span.skills__bar
              span.skills__js
          li
            h3 Pug Sass
            span.skills__bar
              span.skills__prep
        .skills__block
          .row
            .col-4
              ul.skills__lists
                li HTML5 tags
                li EMET
                li BEM architecture
                li Adaptive valid layout
                li Cross-browser compatibility
            .col-4
              ul.skills__lists
                li Gulp, Webpack
                li CSS Grid Layout
                li Bootstrap 4
                li Git
                li CSS Animation
            .col-4
              ul.skills__lists
                li JavaScript6 Essensial
                li JQuery library
                li AJAX
                li React.js framework
                li Vue.js framework