.aboutme {    
    background-image: url(../img/aboutme/about_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    

    &__up {
        position: fixed;
        bottom: 40px;
        right: 80px;

        @media (max-width: 1199px) {            
            right: 40px; 
            z-index: 100;                             
        }

        @media (max-width: 991px) {
            bottom: 0px;
            right: 0px;                                        
        }
    }

    &__block1 {        
        @include about-block;               
        margin-top: 75px;
        margin-bottom: 45px;

        @media (max-width: 1199px) {
            margin: 35px 0;                   
        }

        @media (max-width: 991px) {
            margin: 25px 0;                   
        }
    }

    &__block1 p {        
        @include text-title;
        padding: 15px 0 15px 0; 
        
        @media (max-width: 767px) {            
            font-size: 40px;        
        }

        @media (max-width: 575px) {            
            font-size: 30px;        
        }
    }

    &__block2 {
        @include about-block;
        height: 530px;
        
        @media (max-width: 991px) {            
            height: initial;
            margin-bottom: 15px;        
        }
    }

    &__block2 p {
        color: white;
        padding: 35px;
        font-size: 20px;
        line-height: 40px;
        text-align: justify;

        @media (max-width: 1199px) {            
            padding: 25px;
            font-size: 20px;
            line-height: 34px;        
        }

        @media (max-width: 991px) {            
            padding: 25px;
            font-size: 25px;        
        }
        
        @media (max-width: 767px) {            
            padding: 15px;
            font-size: 20px;        
        }
    }

    &__block3 {
        @include about-block;
        height: 320px;
        margin-bottom: 30px;        

        @media (max-width: 991px) {            
            height: initial;
            margin-bottom: 15px;        
        }
        
        & h3 {
            @include text-title;
            font-size: 25px;
            font-weight: 700;
            letter-spacing: 2px;
            margin-bottom: 0;
            padding-top: 15px;

            @media (max-width: 991px) { 
                font-size: 30px; 
                padding-top: 25px;       
            }

            @media (max-width: 767px) { 
                font-size: 25px; 
                padding-top: 15px;                     
            }
        }

        & li {
            color: white;
            padding: 5px 20px;            
            font-size: 20px;
            line-height: 30px;
            text-align: justify;

            @media (max-width: 1199px) { 
                font-size: 18px;
                padding: 5px 20px;         
            }

            @media (max-width: 991px) { 
                font-size: 25px;
                padding: 15px 20px;         
            }
            
            @media (max-width: 767px) { 
                text-align: start;
                font-size: 20px; 
                padding: 5px 10px;       
            }
        }
    }

    
    &__block4 {
        @include about-block;
        height: 180px;
        margin-bottom: 75px;

        @media (max-width: 1199px) { 
            margin-bottom: 35px;        
        }

        @media (max-width: 991px) {            
            height: initial;
            margin-bottom: 15px;        
        }
        
        .block4 {

            &__title h3{
                @include text-title;
                font-size: 25px;
                font-weight: 700;
                letter-spacing: 2px;
                margin-bottom: 0;
                padding-top: 15px;

                @media (max-width: 991px) { 
                    font-size: 30px;                           
                }

                @media (max-width: 767px) { 
                    font-size: 25px;                             
                }
            }

            &__education {
                @include text-page (13px);
                padding-top: 15px;
                text-align: center;
                
                @media (max-width: 991px) { 
                    padding-bottom: 15px;        
                }
            }
            &__education p {                
                margin-bottom: 0;
            }

            &__edu object{
                padding-bottom: 10px;

                @media (max-width: 767px) { 
                    margin-top: 15px;        
                }
            }
        }
    }    
}