.header {    
    // height: 800px;
    background-image: url(../../img/header/header_bg.png);
    background-size: cover;
    background-repeat: no-repeat;

    &__title {
        @include text-page (40px);        
        margin-top: 55px;
    }
    &__lang {
        @include text-page (24px);
        margin-top: 63px;
        text-transform: uppercase;
    }
    &__lang p {
        padding-left: 20px;
        text-shadow: 2px 2px 7px rgba(181, 55, 55, 0.72); 
    }
    &__photo {
        margin-top: 70px;              
    }
    &__photo img{        
        box-shadow: 0 0 27px 7px rgba(181, 55, 55, 0.72);        
    }
    &__menu {
        @include text-page (35px);
        text-align: center;
        margin-top: 70px;
        //position: fixed;
    }
    &__menu div {
        margin-bottom: 41px;
        padding-top: 12px;    
        padding-bottom: 12px;
        @include about-block;
    }
    
    &__social {
        margin-top: 30px;
        margin-bottom: 53px;
    }
    
    &__circle {
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 15px 5px rgba(181, 55, 55, 0.72);
        height: 50px;
        width: 50px;
        position: relative;
        text-decoration: none;


        & i {
            position: absolute;
            color: #fc7a12;
            top: 15px;
            left: 50%;
            transform: translateX(-50%);            
        }
    }

    &__scroll {
        text-align: center;
        margin-bottom: 39px;
        position: relative;        

        &::before {
            content: url(../../img/header/scroll.svg);
            position: absolute;
            top: 12px;
        }

    }
}
