.header {        
    background-image: url(../img/header/header_bg.png);
    background-size: cover;
    background-repeat: no-repeat;

    &__title {
        @include text-page (40px);        
        margin-top: 55px;

        @media (max-width: 1199px) {
            margin-top: 35px;
            font-size: 30px;                       
        }

        @media (max-width: 991px) {
            margin-top: 35px;
            font-size: 30px;
            line-height: 40px;
            text-align: center;
        }

        @media (max-width: 767px) {            
            font-size: 35px;                     
        }

        @media (max-width: 575px) {            
            font-size: 22px;
            line-height: normal;           
        }
    }
    &__lang {
        position: relative;
        @include text-page (24px);
        margin-top: 63px;
        text-transform: uppercase;

        @media (max-width: 1199px) {
            margin-top: 45px;
            font-size: 20px;           
        }

        @media (max-width: 991px) {
            margin-top: 30px;
            font-size: 20px;           
        }

        @media (max-width: 767px) {            
            font-size: 25px;           
        }

        @media (max-width: 575px) {
            margin-top: 20px;
            font-size: 18px;           
        }
    }
    &__lang p {
        padding-left: 20px;

    }

    &__lang p:not(.active) {        
        cursor: pointer;
        color: #9b6941;
    }

    &__photo {
        margin-top: 70px; 
        
        @media (max-width: 991px) {
            margin-top: 30px;                               
        }
    }
    &__photo img{        
        box-shadow: 0 0 27px 7px rgba(181, 55, 55, 0.72);

        @media (max-width: 991px) {            
            width: 100%;                       
        }        
    }
    &__menu {
        @include text-page (35px);
        text-align: center;
        margin-top: 70px;

        @media (max-width: 991px) {
            margin-top: 30px;                                           
        }
        
    }
    &__menu.menu {
        .menu {
            &__item {
                margin-bottom: 41px;
                padding-top: 12px;    
                padding-bottom: 12px;
                @include about-block;
                cursor: pointer;

                @media (max-width: 991px) {
                    margin-bottom: 17px;                               
                }

                &:hover {
                    color: white;
                    box-shadow: 0 0 27px 7px rgba(190, 160, 160, 0.72);
                }

                &:active {
                    color: rgba(255, 255, 255, 0.767);
                    box-shadow: 0 0 15px 5px rgba(190, 160, 160, 0.72);
                }
            }
        }
    }

    &__social {
        margin-top: 50px;
        margin-bottom: 70px;

        @media (max-width: 991px) {
            margin: 40px 0;                                           
        }

        @media (max-width: 767px) {
            margin: 40px 0;                                           
        }
    }
    
    &__circle {
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 15px 5px rgba(181, 55, 55, 0.72);
        height: 50px;
        width: 50px;
        position: relative;
        text-decoration: none;
        font-size: 22px;

        @media (max-width: 1199px) {
            margin-left: 30px;                                           
        }

        @media (max-width: 991px) {
            margin-left: 0;                                           
        }

        &:hover {
            box-shadow: 0 0 15px 5px rgba(223, 191, 191, 0.72);
        }


        & i {
            position: absolute;
            color: #fc7a12;
            top: 15px;
            left: 50%;
            transform: translateX(-50%);            
        }

        &:hover i {
            color: white;
        }
    }

    &__scroll {
        text-align: center;
        margin-bottom: 45px;
        position: relative;
        cursor: pointer;        

        &::before {
            content: url(../img/header/scroll.svg);
            position: absolute;
            top: 12px;
            left: 50%;
            transform: translateX(-50%);
        }

    }

    &__burger {
        position: absolute;
        right: 0;
    }
    &__burger nav {
        width: 100%;
    }
    &__burger {
        .burger {
            &__toggle {
                display: flex;    
                flex-direction: column;
                align-items: flex-end;
                position: relative;    
                z-index: 1;
                -webkit-user-select: none;
                user-select: none;
            
                & input  {
                display: flex;
                width: 42px;
                height: 42px;
                position: absolute;
                top: -16px;
                right: 2px;
                cursor: pointer;
                opacity: 0;
                z-index: 2;
            }
            
              & span  {
                display: flex;
                width: 41px;
                height: 3px;
                margin-bottom: 8px;
                position: relative;    
                background: #fc7a12;
                border-radius: 3px;
                z-index: 1;
                transform-origin: 5px 0px;
                transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                            opacity 0.55s ease;
            }
              
              & span:first-child  {
                transform-origin: 0% 0%;
            }
              
              & span:nth-last-child(2)  {
                transform-origin: 0% 100%;
            }
              
              & input:checked ~ span  {
                opacity: 1;
                transform: rotate(45deg) translate(-3px, -1px);
                background: #fc7a12;
            }
            
              & input:checked ~ span:nth-last-child(3)  {
                opacity: 0;
                transform: rotate(0deg) scale(0.2, 0.2);
            }
              
              & input:checked ~ span:nth-last-child(2)  {
                transform: rotate(-45deg) translate(0, -1px);
            }
            
              & input:checked ~ ul
                {
                    opacity: .8;    
                }
            }
            
            &__link {
                position: absolute; 
                box-shadow: 0 0 10px rgba(206, 14, 14, 0.72);
                top: 0;
                right: 66px;        
                opacity: 0;
                background-color: rgba(181, 55, 55, 0.72);
                transition: all 0.5s linear;
                text-align: center;
                z-index: 10;

                @media (max-width: 767px) {
                    right: 0;
                    top: 55px;
                    width: 89vw;                    
                }

                @media (max-width: 575px) {                    
                    width: 91vw;                    
                }

            
                & li {
                    padding: 15px;
            
                    @media (max-width: 767px) {
                        padding: 30px;
                    }
                    @media (max-width: 575px) {
                        padding: 20px;
                    }
                }   
            }
    
            &__item {
                & a {
                    color: white;                    
                    font-size: 16px;
                    font-weight: 700;
                    text-transform: uppercase;
                    text-decoration: none;
                    cursor: pointer;
                    letter-spacing: 4px;

                    @media (max-width: 767px) {
                        font-size: 20px;
                    }

                    @media (max-width: 575px) {
                        font-size: 16px;
                    }
                }
            
                &:hover {
                    background-color: rgba(211, 115, 51, 0.72);
                    cursor: pointer;
                }
                &:active {
                    opacity: 1;
                    background-color: rgba(211, 83, 51, 0.72);        
                }
            
                &:active a {
                    opacity: 1;
                    color: white;        
                }  
            }
        }
    }
}
