.portfolio {
    height: 698px;
    background-image: url(../img/portfolio/pf_bg.png);
    background-size: cover;
    background-repeat: no-repeat;

    &__title { 
        @include text-title;
        text-align: center;
        margin: 45px 0;
    }

    &__container {        
        
        & img {
            border-radius: 5px;
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            filter: grayscale(100%);
            filter: gray; /* IE 6-9 */
        }

        &:hover img {
            -webkit-filter: none;
            -moz-filter: none;
            -ms-filter: none;
            -o-filter: none;
            filter: none;
            filter: none; /* IE 6-9 */
          /* анимация плавного перехода */
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
        }
    }
}

.owl-prev, .owl-next {
    position: absolute;
    top: 39%;
    margin-top: 0px;
    
    // @media (max-width: 1199px) {
    //     display: none !important;
    // } 
}
.owl-prev {
    left: -155px;
}
.owl-next {
    right: -155px;  
    
}