.portfolio {
    background-image: url(../img/portfolio/pf_bg.png);
    background-size: cover;
    background-repeat: no-repeat;

    &__title { 
        @include text-title;
        text-align: center;
        margin: 45px 0;

        @media (max-width: 767px) {
            margin: 20px 0;
            font-size: 40px;
        }

        @media (max-width: 575px) {
            font-size: 30px;
        }
    }

    &__container {        
        
        & img {
            border-radius: 5px;
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            filter: grayscale(100%);
            filter: gray; /* IE 6-9 */

            @media (max-width: 991px) { 
                filter: none;       
            }
        }

        &:hover img {
            -webkit-filter: none;
            -moz-filter: none;
            -ms-filter: none;
            -o-filter: none;
            filter: none;
            filter: none; /* IE 6-9 */
          /* анимация плавного перехода */
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
        }
    }
}

.owl-prev, .owl-next {
    position: absolute;
    top: 39%;
    margin-top: 0px;
    
    @media (max-width: 767px) {
        display: none !important;
    } 
}
.owl-prev:hover,
.owl-next:hover {
    background: none !important;
}

.owl-prev {
    left: -155px;

    @media (max-width: 991px) {
        left: -120px;
    }
}

.owl-next {
    right: -155px; 
    
    @media (max-width: 991px) {
        right: -120px;
    }
}
.owl-dots {
    margin-top: 50px;
    margin-bottom: 50px; 

    @media (max-width: 1199px) {
        margin-top: 40px !important;
        margin-bottom: 30px !important;
    }
    
}
.owl-dot{
    margin-left: 13px;
    margin-right: 13px;
 }
 .owl-dot.active span{
    background: #fc7a12 !important;
 }
 .owl-dot span{
    background: none !important;
    border: 1px solid #fc7a12;
 }