<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Tonchenko_Resume
        link(rel="stylesheet", href="./css/main.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css")             
    body
      include modules/header
      include modules/aboutme
      include modules/skills
      include modules/portfolio
      include modules/contact
    script(src='https://kit.fontawesome.com/f811e9d5c2.js' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js')
    script(src='./js/owl_carousel.js')
    script(src="./js/main.js")
    script(src="./js/wow.js")
    script.
      new WOW().init();
              
    