<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title FE8_Tonchenko_HW14
        link(rel="stylesheet", href="./css/main.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800|Raleway:400,400i,500,500i,700,700i|Roboto:400,700,900&display=swap")
                
    body
      .header
        .container
          .row
            div.col-4.hi.d-flex.flex-column
              h1 Hello
              p Zhopa
              p Lorem ipsum dolor sit amet
              h2 zhopa
    script(src="./js/main.js")
    